In [2]:
import yfinance as yf

In [3]:
ticker = "TAEE11"
period = "5d"
ticker_obj = yf.Ticker(f"{ticker}.SA")

In [4]:
ticker_obj

yfinance.Ticker object <TAEE11.SA>

In [6]:
ticker_obj.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-05-19 00:00:00-03:00,35.279999,35.900002,35.130001,35.630001,1855900,0.0,0.0
2025-05-20 00:00:00-03:00,35.599998,35.970001,35.439999,35.869999,1293400,0.0,0.0
2025-05-21 00:00:00-03:00,35.650002,35.840000,35.349998,35.410000,852900,0.0,0.0
2025-05-22 00:00:00-03:00,35.290001,35.770000,35.230000,35.400002,1327100,0.0,0.0
2025-05-23 00:00:00-03:00,35.250000,35.790001,34.980000,35.529999,1468600,0.0,0.0
2025-05-26 00:00:00-03:00,35.770000,36.000000,35.529999,35.840000,1021800,0.0,0.0
2025-05-27 00:00:00-03:00,35.849998,36.770000,35.840000,36.520000,2192600,0.0,0.0
2025-05-28 00:00:00-03:00,35.299999,35.820000,34.980000,35.610001,3372200,0.0,0.0
2025-05-29 00:00:00-03:00,35.619999,35.790001,35.389999,35.490002,1121700,0.0,0.0
2025-05-30 00:00:00-03:00,35.500000,35.840000,35.290001,35.380001,2976100,0.0,0.0
2025-06-02 00:00:00-03:00,35.360001,35.459999,34.759998,34.860001,2262800,0.0,0.0
2025-06-03 00:00:00-03:00,34.849998,35.529999,34.740002,35.299999,1547800,0.0,0.0
2025-06-04 00:00:00-03:00,35.330002,35.509998,34.689999,34.700001,1949000,0.0,0.0
2025-06-05 00:00:00-03:00,34.860001,34.860001,34.299999,34.400002,1200500,0.0,0.0
2025-06-06 00:00:00-03:00,34.500000,34.610001,34.150002,34.369999,1344700,0.0,0.0
2025-06-09 00:00:00-03:00,34.189999,34.360001,33.740002,34.049999,1323900,0.0,0.0
2025-06-10 00:00:00-03:00,34.049999,34.439999,33.959999,34.180000,1509400,0.0,0.0
2025-06-11 00:00:00-03:00,34.220001,34.220001,33.849998,34.009998,1010800,0.0,0.0
2025-06-12 00:00:00-03:00,33.990002,34.080002,33.799999,33.980000,1169300,0.0,0.0
2025-06-13 00:00:00-03:00,33.980000,34.240002,33.669998,33.970001,1497500,0.0,0.0
2025-06-16 00:00:00-03:00,34.189999,34.560001,34.009998,34.459999,1235400,0.0,0.0
2025-06-17 00:00:00-03:00,34.610001,34.730000,34.189999,34.490002,1011200,0.0,0.0

In [7]:
ticker_obj.history(period=period)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-06-11 00:00:00-03:00,34.220001,34.220001,33.849998,34.009998,1010800,0.0,0.0
2025-06-12 00:00:00-03:00,33.990002,34.080002,33.799999,33.980000,1169300,0.0,0.0
2025-06-13 00:00:00-03:00,33.980000,34.240002,33.669998,33.970001,1497500,0.0,0.0
2025-06-16 00:00:00-03:00,34.189999,34.560001,34.009998,34.459999,1235400,0.0,0.0
2025-06-17 00:00:00-03:00,34.610001,34.730000,34.189999,34.490002,1011200,0.0,0.0

In [13]:
def retorna_cotacao(ticker, periodo="1mo"):
    ticker_obj = yf.Ticker(f"{ticker}.SA")
    hist = ticker_obj.history(period=periodo)["Close"]
    hist.index = hist.index.strftime("%Y-%m-%d")
    hist = round(hist, 2)

    #limitar em 30 resultados
    if len(hist) > 30:
        slice_size = int(len(hist) / 30)
        hist = hist.iloc[::-slice_size][::-1]
    
    return hist.to_json()

In [14]:
hist = retorna_cotacao("TAEE11", "1y")
hist

'{"2024-06-19":30.87,"2024-07-01":31.8,"2024-07-11":32.57,"2024-07-23":31.32,"2024-08-02":32.09,"2024-08-14":32.78,"2024-08-26":33.37,"2024-09-05":33.78,"2024-09-17":32.66,"2024-09-27":32.18,"2024-10-09":32.22,"2024-10-21":32.71,"2024-10-31":33.01,"2024-11-12":32.77,"2024-11-26":33.09,"2024-12-06":32.79,"2024-12-18":31.37,"2025-01-03":30.94,"2025-01-15":31.32,"2025-01-27":31.25,"2025-02-06":31.88,"2025-02-18":31.57,"2025-02-28":31.5,"2025-03-14":32.73,"2025-03-26":32.66,"2025-04-07":32.55,"2025-04-17":33.14,"2025-05-02":34.85,"2025-05-14":34.87,"2025-05-26":35.84,"2025-06-05":34.4,"2025-06-17":34.49}'